.gamePage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/images/IMG_2717.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-image: linear-gradient(to right top, #000033, #6600FF);*/
}
.counter {
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #00c9b7;
}
